<% include partials/header %>

  <div class="container">
    <h1>Welcome to YelpCamp</h1>
    <a href="/campgrounds">--->>> See all campgrounds here! <<<---</a>
  </div>

  <% include partials/footer %>